/* ---------- Layout ---------- */
.page {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  margin-top: 28px;
  padding-left: 32px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
justify-content: flex-start;
align-items: center;
width: 100%;
}

.prevArrow {
height: 14px;
width: auto;
position: absolute;
left: 8px;
}

.searchContainer {
  display: flex;
justify-content: center;
align-items: center;
width: 320px;

}

/*------------------- UserList ------------------------*/

.listCards {
 display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*------------------- UserCard ------------------------*/

.card {
    display: flex;
width: 100%;
height: auto;
padding: 16px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 12px;
border-radius: 20px;
background-color: var(--light-gray);
}

.left {
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 12px;
align-items: center;
width: 100%;
}

.thirdLine div {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 12px;
}

.initials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 20px;
}

.initials p {
 font-size: 16px;
 font-weight: 600;
 color: black;
}

.from {
  font-weight: 600;
 color: black;
}


/* --- mobile --- */
@media (max-width: 600px) {
  .page {
    padding: 0 16px;
    position: static;
  }

  .container {
    gap: 24px;
    padding-top: 8px;
    margin-top: 0;
    padding-left: 0;
    max-width: 400px;
    margin-bottom: 60px;
    margin-left: 0;
    padding-left: 0;
  }

  .header {

     flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
    width: 100%;
  }

  .title {
  display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 100%;
}

.searchContainer {
width: 100%;

}

.card {
flex-direction: row;
justify-content: space-between; 
gap: 8px;
}

.listCards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.left {
flex-direction: row;
gap: 8px;
}

.initials {
  width: 40px;
  height: 40px;
    border-radius: 50px;
}
}
